<div class="page_info mb_32">
  <div class="pageinfo_bg">
    <span>FINANCE AGENTS</span>
    <h2>Marketing</h2>
    <ul class="breadcrumb_page mt_50">
      <li class="breadcrumb_item active" [routerLink]="['/marketing/EmailTemplates']">
        <div class="crumb_bg">
          <img src="../../assets/images/email_Template.svg" />
        </div>
        <div class="crumb_text">Email Templates</div>
      </li>
      <li class="breadcrumb_item"  [routerLink]="['/marketing/SocialMedia']">
        <div class="crumb_bg">
          <img src="../../assets/images/Social_mediaicon.svg" />
        </div>
        <div class="crumb_text" >Social Media</div>
      </li>
      <li class="breadcrumb_item" [routerLink]="['/marketing/Flyers']">
          <div class="crumb_bg">
            <img src="../../assets/images/Flyers_icon.svg" />
          </div>
          <div class="crumb_text"  >Flyers</div>
        </li>
    </ul>
    <div></div>
  </div>
</div>

