<div class="WhiteBg p48">
  <div class="Userprofile media">
    <!-- <img
      class="photo_upload_icon mr_32"
      src="../../assets/images/profile_dp.png"
    /> -->
    <div class="upload_img">
      <img src="../../assets/images/photo_upload_icon.svg" />
    </div>
    <div class="media-body">
      <h5 class="mt-0">{{ userDetails?.Name }}</h5>
      <p class="sub_paragraph_text">{{userDetails?.Account_Type}}</p>
    </div>
  </div>
  <hr class="horizontal_border mt_48 mb_32" />
  <p class="sub_paragraph_text pb_12">Personal Information</p>
  <!-- (onFormGroupChange)="onFormGroupChangeEvent($event)" -->
  <app-profile-form [getUserData]="userDetails"></app-profile-form>
</div>
