<div class="page_info mb_32">
  <div class="pageinfo_bg">
    <span>FINANCE AGENTS</span>
    <h2>Training</h2>
    <p></p>
    <ul class="breadcrumb_page mt_50">
      <li>
        <a class="breadcrumb_item active">
          <div class="crumb_bg">
            <img src="../../assets/images/crumb_sales.svg" />
          </div>
          <div [routerLink]="['/training/sale']" class="crumb_text">Sales</div>
        </a>
      </li>
      <li>
        <a class="breadcrumb_item">
          <div class="crumb_bg">
            <img src="../../assets/images/funding_program_crumb.svg" />
          </div>
          <div [routerLink]="['/training/fundingprogram']" class="crumb_text">Funding programs</div>
        </a>
      </li>
      <li>
        <a class="breadcrumb_item">
          <div class="crumb_bg">
            <img src="../../assets/images/crm_crumb.svg" />
          </div>
          <div [routerLink]="['/training/crm']" class="crumb_text">CRM</div>
        </a>
      </li>
      <li>
        <a class="breadcrumb_item">
          <div class="crumb_bg">
            <img src="../../assets/images/crm_crumb.svg" />
          </div>
          <div [routerLink]="['/training/MemberOffice']" class="crumb_text">Member Office</div>
        </a>
      </li>
    </ul>
  </div>
</div>
