<div class="Video_popup">
	<div class="modal fade" [id]="'modal-preview-' + id" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-body document-preview">
					<div oncontextmenu="return false" class="container">
						<iframe oncontextmenu="return false" [src]="src" width="100%" height="100%">
						</iframe>
						<p class="centered">Finance&nbsp;Agent</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>