<div class="wrapper">
	<div class="login-page text-center">
		<div class="box auth-box">
			<input type="checkbox" id="toggle" class="box__toggle" hidden />
			<form class="form form--login" [formGroup]="form" (ngSubmit)="onSubmit()">
				<h1 class="auth-title">Sign Up Today</h1>
				<p>
					<label class="input-label">Name</label>
				</p>
				<div class="form__helper split">
					<div>
						<input type="text" name="user" formControlName="firstName" class="auth-input form-control bottom-label "
							[ngClass]="{ 'is-invalid': f.firstName?.touched && f.firstName?.invalid}" />
						<label class="input-label">First Name</label>
						<div *ngIf="f.firstName?.touched && f.firstName?.invalid" class="invalid-feedback">
							<div *ngIf="f.firstName.errors.required">First Name is required</div>
						</div>
					</div>
					<div>

						<input type="text" name="user" formControlName="lastName" class="auth-input form-control bottom-label "
							[ngClass]="{ 'is-invalid': f.lastName?.touched && f.lastName?.invalid }" />
						<label class="input-label">Last Name</label>
						<div *ngIf="f.lastName?.touched && f.lastName?.invalid" class="invalid-feedback">
							<div *ngIf="f.lastName.errors.required">Last Name is required</div>
						</div>
					</div>
				</div>
				<div class="form__helper">
					<label class="input-label">Email</label>
					<input type="text" name="user" formControlName="email" class="auth-input form-control"
						[ngClass]="{ 'is-invalid': f.email?.touched && f.email?.invalid }" />
					<div *ngIf="f.email?.touched && f.email?.invalid" class="invalid-feedback">
						<div *ngIf="f.email.errors?.required">Email is required</div>
						<div *ngIf="f.email.errors?.pattern">Email is invalid</div>
					</div>
				</div>
				<div class="form__helper mb32">
					<label class="input-label">Registered Agent Affiliate ID</label>
					<input type="number" name="AAM" formControlName="AAM" class="auth-input form-control"
						[ngClass]="{ 'is-invalid': f.AAM?.touched && f.AAM?.invalid }" />
				</div>
				<p>
					<label class="input-label">Password</label>
				</p>
				<div class="form__helper split">
					<div>
						<input type="password" name="password" class="auth-input form-control bottom-label"
							formControlName="password" [ngClass]="{ 'is-invalid': f.password?.touched && f.password?.invalid }" />
						<label class="input-label">Enter password</label>
						<div *ngIf="f.password?.touched && f.password?.invalid" class="invalid-feedback">
							<div *ngIf="f.password.errors.required">Password is required</div>
							<div *ngIf="f.password.errors.minlength">Password should be minimum of 6 characters</div>
						</div>
					</div>
					<div>
						<input type="password" name="password" class="auth-input form-control bottom-label"
							formControlName="confirm" [ngClass]="{ 'is-invalid': f.confirm?.touched && f.confirm?.invalid }" />
						<label class="input-label">Confirm password</label>
						<div *ngIf="f.confirm?.touched && f.confirm?.invalid" class="invalid-feedback">
							<div *ngIf="f.confirm.errors.required">Password confirmation is required</div>
							<div *ngIf="f.confirm.errors.minlength">Password should be minimum of 6 characters</div>
						</div>
					</div>
				</div>
				<div class="actions" style="display: flex; justify-content: center;">
					<button type="submit" class="button auth-btn">
						SUBMIT
					</button>
				</div>
				<span class="subtle-link" (click)="openPasswordModal()">Forgot Password</span>
				<br />
				<a class="subtle-link" [routerLink]="['/login']">Log In</a>
				<br />
				<span class="subtle-link" (click)="switchView()">Sign up as Agent</span>
				<br />
			</form>
		</div>
	</div>
</div>
<reset-password></reset-password>