<div class="wrapper">
	<div class="login-page text-center">
		<div class="box auth-box">
			<form class="form form--login" [formGroup]="form" (ngSubmit)="onSubmit()">
				<h1 class="auth-title">
					Become An Agent
				</h1>
				<div class="form__helper split">
					<div>
						<label class="input-label">First Name</label>
						<input type="text" name="user" formControlName="firstName"
							class="auth-input form-control"
							[ngClass]="{ 'is-invalid': f.firstName?.touched && f.firstName?.invalid}" />
						<div *ngIf="f.firstName?.touched && f.firstName?.invalid" class="invalid-feedback">
							<div *ngIf="f.firstName.errors.required">First Name is required</div>
						</div>
					</div>
					<div>
						<label class="input-label">Last Name</label>
						<input type="text" name="user" formControlName="lastName"
							class="auth-input form-control"
							[ngClass]="{ 'is-invalid': f.lastName?.touched && f.lastName?.invalid }" />
						<div *ngIf="f.lastName?.touched && f.lastName?.invalid" class="invalid-feedback">
							<div *ngIf="f.lastName.errors.required">Last Name is required</div>
						</div>
					</div>
				</div>
				<div class="form__helper">
					<label class="input-label">Enter Your Email</label>
					<input type="text" name="user" formControlName="email" class="auth-input form-control"
						[ngClass]="{ 'is-invalid': f.email?.touched && f.email?.invalid }" />
					<div *ngIf="f.email?.touched && f.email?.invalid" class="invalid-feedback">
						<div *ngIf="f.email.errors?.required">Email is required</div>
						<div *ngIf="f.email.errors?.pattern">Email is invalid</div>
					</div>
				</div>
				<div class="form__helper">
					<label class="input-label">Registered Agent ID</label>
					<input type="number" name="AAM" formControlName="AAM" class="auth-input form-control"
						[ngClass]="{ 'is-invalid': f.AAM?.touched && f.AAM?.invalid }" />
				</div>
				<div class="form__helper split">
					<div>
						<label class="input-label">Zoho CRM</label>
						<input type="text" name="search" formControlName="search"
							class="auth-input form-control" />
					</div>
				</div>
				<div class="auth-checkbox">
					<label class="terms" for="terms">
						<input type="checkbox" id="terms" formControlName="hasAccepted">
						I agree with the <span class="accent">terms of personal data processing</span> in the <span
							class="accent">privacy policy</span>.
					</label>
				</div>
				<div class="actions" style="display: flex; justify-content: center;">
					<button [disabled]="!f.hasAccepted.value" type="submit" class="button auth-btn">
						SUBMIT
					</button>
				</div>
				<span class="subtle-link" (click)="openPasswordModal()">Forgot Password</span>
				<br />
				<a class="subtle-link" [routerLink]="['/login']">Log In</a>
				<br />
				<span class="subtle-link" (click)="switchView()">Sign up as User</span>
				<br />
			</form>
		</div>
	</div>
</div>
<reset-password></reset-password>