<div class="wrapper">
	<div class="login-page text-center">
		<div class="box">
			<input type="checkbox" id="toggle" class="box__toggle" hidden />
			<div class="box__image img-class">
				<img src="../../assets/images/final-finance.png" style="background-color: white;" />
			</div>
			<form class="form form--register" action="">
			</form>
			<form class="form form--login" [formGroup]="form" (ngSubmit)="onSubmit()">
				<h1 class="sign-title zoho">Zoho SignUp Form</h1>
				<div class="divider"></div>
				<div class="sub-title">
					Become An Agent Signup
				</div>
				<h1 class="personal-title">Personal Information</h1>
				<div class="form__helper split">
					<div>
						<label>First Name</label>
						<input type="text" name="user" placeholder="First name" formControlName="firstName"
							class="form__input form-control"
							[ngClass]="{ 'is-invalid': f.firstName?.touched && f.firstName?.invalid}" />
						<div *ngIf="f.firstName?.touched && f.firstName?.invalid" class="invalid-feedback">
							<div *ngIf="f.firstName.errors.required">First Name is required</div>
						</div>
					</div>
					<div>
						<label>Last Name</label>
						<input type="text" name="user" placeholder="Last Name" formControlName="lastName"
							class="form__input form-control"
							[ngClass]="{ 'is-invalid': f.lastName?.touched && f.lastName?.invalid }" />
						<div *ngIf="f.lastName?.touched && f.lastName?.invalid" class="invalid-feedback">
							<div *ngIf="f.lastName.errors.required">Last Name is required</div>
						</div>
					</div>
				</div>
				<div class="form__helper">
					<label>Enter Your Email</label>
					<input type="text" name="user" placeholder="Email" formControlName="email" class="form__input form-control"
						[ngClass]="{ 'is-invalid': f.email?.touched && f.email?.invalid }" />
					<div *ngIf="f.email?.touched && f.email?.invalid" class="invalid-feedback">
						<div *ngIf="f.email.errors?.required">Email is required</div>
						<div *ngIf="f.email.errors?.pattern">Email is invalid</div>
					</div>
				</div>
				<div class="form__helper">
					<label>Registered Agent ID</label>
					<input type="number" name="AAM" placeholder="Agent ID" formControlName="AAM" class="form__input form-control"
						[ngClass]="{ 'is-invalid': f.AAM?.touched && f.AAM?.invalid }" />
				</div>
				<div class="form__helper split">
					<div>
						<label>Zoho CRM</label>
						<input type="text" name="search" placeholder="Zoho CRM" formControlName="search"
							class="form__input form-control" />
					</div>
				</div>
				<div class="form__helper mb32">
					<label class="terms" for="terms">
						<input type="checkbox" id="terms" formControlName="hasAccepted">
						I agree with the <span class="accent">terms of personal data processing</span> in the <span
							class="accent">privacy policy</span>.
					</label>
				</div>
				<div class="actions" style="display: flex; justify-content: center;">
					<button [disabled]="!f.hasAccepted.value" type="submit" class="button submit">
						Register
					</button>
				</div>
				<p class="form__text text-center">
					Have an account?
					<label class="form__link" [routerLink]="['login']">Log In</label> <br>
					<span class="password__link" (click)="openPasswordModal()">Forgot Password</span>
				</p>
				<p class="form__text text-center">
					<span (click)="switchView()" class="form__link">Sign up as User</span>
				</p>
			</form>
		</div>
	</div>
</div>
<reset-password></reset-password>