.cardoutline{
    
  outline: #139EC7 solid 10px;
  margin: auto;  
  
}
.card{
    border-radius: 20px;
}
.headeroutline{
    background-color: #139EC7;
    color: white;
}
.recruiter{
    background-color: #E7F7FC;
}
.maincard{
    margin-top: -60px;
    margin-right: 10px;
}