
<div mat-raised class="WhiteBg plr_16_ptb_24 mb_24 headeroutline">
<!-- <div class="table_header"> -->
    <div>
      <h3 class="dash_heading">
        CHOOSE YOUR PLAN</h3>
    </div>

     
  </div>
  <div class="row maincard">
      <div class="col-md-4"></div>
      <div class="col-md-8">
         
            <!-- <div class="WhiteBg plr_48 ptb_40 mb_24 cardoutline" > -->
                <div class="row cardoutline">
                    <div class="col-md-6" style="background-color: white;">
                        <div class="card shadow  rounded " style="background-color: #F0F0F0; margin-top: 0;margin-right: 0; width: 100%;"> 
                            <h3 class="dash_heading pb_25" style="text-align: center;">FREE <h4>Stander </h4></h3>
                        </div>
                        <div class="row "  style="border-radius: 20px;">
                            <div class="col-md-12">
                                <h4 style="font-weight: bold;"><span style="color: blue;">10%</span> Commission</h4>
                                <div class="form-group">
                              <input  type="radio" checked  style="margin-right: 30px;"> <!--formControlName="marketinglink" -->
                              <label>Marketing Link</label>
                            </div>
                              </div>
                            <div class="col-md-12">
                              <div class="form-group">
                            <input  type="radio" checked  style="margin-right: 30px;"> <!--formControlName="marketinglink" -->
                            <label>Marketing Link</label>
                          </div>
                              </div>
                            <div class="col-md-12">
                          <div class="form-group">
                        <input  type="radio"  checked style="margin-right: 30px;"><!--formControlName="marketingdocuments"-->
                        <label>Marketing Documents</label>
                      </div>
                              </div>
                            <div class="col-md-12">
                              <div class="form-group">
                    <input  type="radio" checked style="margin-right: 30px;">
                    <label>Training Webinars </label>
                              </div>
                              </div>
                            <div class="col-md-12">
                  <div class="form-group">
                <input  type="radio" checked style="margin-right: 30px;">
                <label>Action Plan</label>
              </div>
                              </div>
                            <div class="col-md-12">
                                  <div class="form-group">
                              <input  type="radio" checked style="margin-right: 30px;">
                              <label>Digital Lead Input</label>
                              </div>
                              </div>
                            <div class="col-md-12">
                              <div class="form-group">
                          <input  type="radio"  checked style="margin-right: 30px;">
                          <label>Lead Managent Tools</label>
                              </div>
                             </div>
                              <div class="col-md-12">
                                  <div class="form-group">
                              <input  type="radio"  checked style="margin-right: 30px;">
                              <label>Sales Support</label>
                              </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="form-group">
                              <input  type="radio"  checked style="margin-right: 30px;">
                              <label>eSign Digital Application</label>
                              </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="form-group">
                              <input  type="radio"   style="margin-right: 30px;">
                              <label> Sponsored Agent Statistics</label>
                              </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="form-group">
                              <input  type="radio"   style="margin-right: 30px;">
                              <label> Sponsored Agent Networking</label>
                              </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="form-group">
                              <input  type="radio"   style="margin-right: 30px;">
                              <label> Customized Email</label>
                              </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="form-group">
                              <input  type="radio" style="margin-right: 30px;">
                              <label>Recruiting Email Templates</label>
                              </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="form-group">
                              <input  type="radio" style="margin-right: 30px;">
                              <label>Exclusive Recruiting Webinars</label>
                              </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="form-group">
                              <input  type="radio"   style="margin-right: 30px;">
                              <label>Exclusive Recruiting Webinars</label>
                              </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="form-group">
                              <input  type="radio"  style="margin-right: 30px;">
                              <label>Exclusive Training Manual</label>
                              </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="form-group">
                              <input  type="radio"   style="margin-right: 30px;">
                              <label>Business Card Templates</label>
                              </div>
                              </div>
                              <div class="col-md-12">
                                  <div class="form-group">
                              <input  type="radio"   style="margin-right: 30px;">
                              <label>Recruiting Presentation Templates</label>
                              </div>
                              </div>
                              <div class="col-md-12">
                              <div class="form-group">
                          <input  type="radio"  style="margin-right: 30px;">
                          <label>Branded Mini site</label>
                          </div>
                              </div>
                              <hr>
                              <div class="d-flex justify-content-center" style="margin-bottom: 2px; text-align: center; margin-left: 50px;">
                                <button class="btn btn-primary " type="button" >
                          DOWNGRADE
                         </button>
                              </div>
                          </div>
                    </div>
                    <div class="col-md-6 recruiter ">
                        <!-- <form [formGroup]="FreeStander" (ngSubmit)="submit()"> -->
                            <!-- <div class="WhiteBg plr_48 ptb_40 mb_24"> -->
                        <div class="card shadow" style="background-color: #139EC7; margin-top: 0;margin-right: 0;"> 
                              <h3 class="dash_heading pb_25" style="text-align: center; color: white;">$994 <span>or $39.94/month</span><h4>RECRUITER</h4> </h3>
                        </div>
                              <div class="row">
                                <div class="col-md-12">
                                    <h4 style="font-weight: bold;"><span style="color: blue;">15%</span> Commission</h4>
                                    <div class="form-group">
                                  <input  type="radio" checked  style="margin-right: 30px;"> <!--formControlName="marketinglink" -->
                                  <label>Marketing Link</label>
                                </div>
                                  </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                                <input  type="radio" checked  style="margin-right: 30px;"> <!--formControlName="marketinglink" -->
                                <label>Marketing Link</label>
                              </div>
                                  </div>
                                <div class="col-md-12">
                              <div class="form-group">
                            <input  type="radio"  checked style="margin-right: 30px;"><!--formControlName="marketingdocuments"-->
                            <label>Marketing Documents</label>
                          </div>
                                  </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                        <input  type="radio" checked style="margin-right: 30px;">
                        <label>Training Webinars </label>
                                  </div>
                                  </div>
                                <div class="col-md-12">
                      <div class="form-group">
                    <input  type="radio" checked style="margin-right: 30px;">
                    <label>Action Plan</label>
                  </div>
                                  </div>
                                <div class="col-md-12">
                                      <div class="form-group">
                                  <input  type="radio" checked style="margin-right: 30px;">
                                  <label>Digital Lead Input</label>
                                  </div>
                                  </div>
                                <div class="col-md-12">
                                  <div class="form-group">
                              <input  type="radio"  checked style="margin-right: 30px;">
                              <label>Lead Managent Tools</label>
                                  </div>
                                 </div>
                                  <div class="col-md-12">
                                      <div class="form-group">
                                  <input  type="radio"  checked style="margin-right: 30px;">
                                  <label>Sales Support</label>
                                  </div>
                                  </div>
                                  <div class="col-md-12">
                                      <div class="form-group">
                                  <input  type="radio"  checked style="margin-right: 30px;">
                                  <label>eSign Digital Application</label>
                                  </div>
                                  </div>
                                  <div class="col-md-12">
                                      <div class="form-group">
                                  <input  type="radio" checked  style="margin-right: 30px;">
                                  <label> Sponsored Agent Statistics</label>
                                  </div>
                                  </div>
                                  <div class="col-md-12">
                                      <div class="form-group">
                                  <input  type="radio" checked  style="margin-right: 30px;">
                                  <label> Sponsored Agent Networking</label>
                                  </div>
                                  </div>
                                  <div class="col-md-12">
                                      <div class="form-group">
                                  <input  type="radio"  checked style="margin-right: 30px;">
                                  <label> Customized Email</label>
                                  </div>
                                  </div>
                                  <div class="col-md-12">
                                      <div class="form-group">
                                  <input  type="radio" checked style="margin-right: 30px;">
                                  <label>Recruiting Email Templates</label>
                                  </div>
                                  </div>
                                  <div class="col-md-12">
                                      <div class="form-group">
                                  <input  type="radio" checked style="margin-right: 30px;">
                                  <label>Exclusive Recruiting Webinars</label>
                                  </div>
                                  </div>
                                  <div class="col-md-12">
                                      <div class="form-group">
                                  <input  type="radio" checked  style="margin-right: 30px;">
                                  <label>Exclusive Recruiting Webinars</label>
                                  </div>
                                  </div>
                                  <div class="col-md-12">
                                      <div class="form-group">
                                  <input  type="radio"checked  style="margin-right: 30px;">
                                  <label>Exclusive Training Manual</label>
                                  </div>
                                  </div>
                                  <div class="col-md-12">
                                      <div class="form-group">
                                  <input  type="radio" checked style="margin-right: 30px;">
                                  <label>Business Card Templates</label>
                                  </div>
                                  </div>
                                  <div class="col-md-12">
                                      <div class="form-group">
                                  <input  type="radio" checked  style="margin-right: 30px;">
                                  <label>Recruiting Presentation Templates</label>
                                  </div>
                                  </div>
                                  <div class="col-md-12">
                                  <div class="form-group">
                              <input  type="radio"  style="margin-right: 30px;">
                              <label>Branded Mini site</label>
                              </div>
                                  </div >
                                  <div class="d-flex justify-content-center" style="margin-bottom: 2px; text-align: center; margin-left: 50px;">
                                    <button mat-raised-button class="btn btn-primary" type="button" aria-expanded="false"
                                    style="margin-bottom: 2px">
                                   UPGRADE
                                  </button>
                                </div>
                              </div>   
                             
                    <!-- </div> -->
                <!-- </form>   -->
                </div>  
                </div>
                <!-- </div> -->
</div>
       
</div>
<!-- </div> -->