<ng-template #confirmationPopupManual>
	<div class="confirmationPopup">
		<div class="popup_header pb_24 mb_24 displayFlex justifycontent_space_bw align_item_Center">
			<div>
				<h2 mat-dialog-title class="mb-0">Subscription Details</h2>
			</div>
			<div>
				<span class="close" (click)="close()">
					<img src="../../../assets/images/icon_close.svg">
				</span>
			</div>
		</div>
		<div class="popup_body">
			<p class="paragraph_text">To subscribe to this plan, please reach using our contact phone number</p>
		</div>
	</div>
</ng-template>