<div *ngIf="control?.errors && (control?.touched || force)">
  <div *ngIf="control?.errors['required']">
    <span *ngIf="required">{{ required }}</span>
    <span *ngIf="!required" >This field is required</span>
  </div>
  <!-- It looks like your application or one of its dependencies is using i18n -->
  <div *ngIf="control?.errors['email']">
    <span *ngIf="email">{{ email }}</span>
    <span *ngIf="!email" >This field must be an email</span>
  </div>
  <div *ngIf="control?.errors['pattern']">
    <span *ngIf="pattern">{{ pattern }}</span>
    <span *ngIf="!pattern" >This field does not match the required pattern</span>
  </div>
  <div *ngIf="control?.errors['equalTo']">
    <span *ngIf="equalTo">{{ equalTo }}</span>
    <span *ngIf="!equalTo" >This field must be the same</span>
  </div>
  <div *ngIf="control?.errors['unique']">
    <span *ngIf="unique">{{ unique }}</span>
    <span *ngIf="!unique" >This field must be unique</span>
  </div>
  <div *ngIf="control?.errors['min']">
    <span *ngIf="min">{{ min }}</span>
    <span *ngIf="!min" >This must be greater</span>
  </div>
  <div *ngIf="control?.errors['max']">
    <span *ngIf="max">{{ max }}</span>
    <span *ngIf="!max" >This must be lesser</span>
  </div>
  <div *ngIf="control?.errors['minDate']">
    <span *ngIf="minDate">{{ minDate }}</span>
    <span *ngIf="!minDate" >This date must be greater</span>
  </div>
  <div *ngIf="control?.errors['maxDate']">
    <span *ngIf="maxDate">{{ maxDate }}</span>
    <span *ngIf="!maxDate" >This date must be lesser</span>
  </div>
  <div *ngIf="control?.errors['err_user_inactive']">
    <span *ngIf="err_user_inactive">{{ err_user_inactive }}</span>
    <span *ngIf="!err_user_inactive" >No active user found</span>
  </div>
  <div *ngIf="control?.errors['incorrect']">
    <span *ngIf="incorrect">{{ incorrect }}</span>
    <span *ngIf="!incorrect" >This field is incorrect</span>
  </div>
  <div *ngIf="control?.errors['dateRange']">
    <span *ngIf="dateRange">{{ dateRange }}</span>
    <span *ngIf="!dateRange" >Invalid dates: End date cannot be before start date and cannot be in future.</span>
  </div>
  <div *ngIf="control?.errors['invalid_grant']">
    <span *ngIf="invalidGrant">{{ invalidGrant }}</span>
    <span *ngIf="!invalidGrant" >The provided username and password combination does not exist.</span>
  </div>
  <div *ngIf="control?.errors['banned']">
    <span *ngIf="banned">{{ banned }}</span>
    <span *ngIf="!banned" >You are currently banned, please contact customer service.</span>
  </div>
  <div *ngIf="control?.errors['locked']">
    <span *ngIf="locked">{{ locked }}</span>
    <span *ngIf="!locked" >Your account is currently locked, please contact customer service.</span>
  </div>
  <div *ngIf="control?.errors['inactive']">
    <span *ngIf="inactive">{{ inactive }}</span>
    <span *ngIf="!inactive" >Your account has not yet been activated, please activate your account or contact customer support.</span>
  </div>
  <div *ngIf="control?.errors['logged_in']">
    <span *ngIf="loggedIn">{{ loggedIn }}</span>
    <span *ngIf="!loggedIn" >You are already logged in on another session.</span>
  </div>
  <div *ngIf="control?.errors['minlength']">
    <span *ngIf="minlength">{{ minlength }}</span>
    <span *ngIf="!minlength" >Field has to contain more characters.</span>
  </div>
  <div *ngIf="control?.errors['maxlength']">
    <span *ngIf="maxlength">{{ maxlength }}</span>
    <span *ngIf="!maxlength" >Field has to contain less characters.</span>
  </div>
  <div>
    <ng-content></ng-content>
  </div>
</div>
