<ng-template #resetPasswordModal>
	<div class="confirmationPopup">
		<div class="popup_header pb_24 mb_24 displayFlex justifycontent_space_bw align_item_Center">
			<div>
				<h2 mat-dialog-title class="mb-0">Reset Password</h2>
			</div>

			<div>
				<span class="close" (click)="close()">
					<img src="../../../assets/images/icon_close.svg">
				</span>
			</div>
		</div>
		<div class="popup_body mb_24">
			<p class="paragraph_text">Please enter your email and we will send you new password</p>
		</div>
		<form class="popup_body" (submit)="submit()">
			<div class="form_group mb_24">
				<input type="email" placeholder="Email" class="form-control" type="email" name="userEmail" [(ngModel)]="userEmail" />
			</div>
			<div class="flex_end">
				<button type="submit" class="btn small_main_btn"> Send </button>
			</div>
		</form>
	</div>
</ng-template>