<div class="row">
    <div class="col-md-2"  > 
      <div mat-raised class="card shadow textcard"(click)="MasterManager()" >
        <div class="as shadow p-3 mb-5 rounded" style="border: none;" >
          <!-- <i class="fa fa-exclamation-circle" aria-hidden="true"></i> -->
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        </div>
        <h4 class=" p-3 mb-5" style="margin-top: 40px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Master Admin</h4>
      </div>
      <!-- <a class=" p-3 mb-5" style="margin-top: 50px; margin-left:20px; text-decoration: none; color: black; font-weight: bold;font-size: 20px;" [routerLink]="['/lead-information']">Lead Information</a> -->
    </div>
    <div class="col-md-2"  > 
        <div mat-raised class="card shadow textcard" >
          <div class="as shadow p-3 mb-5 rounded" style="border: none;" >
            <!-- <i class="fa fa-exclamation-circle" aria-hidden="true"></i> -->
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          </div>
          <h4 class=" p-3 mb-5" style="margin-top: 40px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >AAM Manager</h4>
        </div>
        <!-- <a class=" p-3 mb-5" style="margin-top: 50px; margin-left:20px; text-decoration: none; color: black; font-weight: bold;font-size: 20px;" [routerLink]="['/lead-information']">Lead Information</a> -->
      </div>
      <div class="col-md-2"  > 
        <div mat-raised class="card shadow textcard" >
          <div class="as shadow p-3 mb-5 rounded" style="border: none;" >
            <!-- <i class="fa fa-exclamation-circle" aria-hidden="true"></i> -->
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          </div>
          <h4 class=" p-3 mb-5" style="margin-top: 40px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Form Manager</h4>
        </div>
        <!-- <a class=" p-3 mb-5" style="margin-top: 50px; margin-left:20px; text-decoration: none; color: black; font-weight: bold;font-size: 20px;" [routerLink]="['/lead-information']">Lead Information</a> -->
      </div>
      <div class="col-md-2"  > 
        <div mat-raised class="card shadow textcard" >
          <div class="as shadow p-3 mb-5 rounded" style="border: none;" >
            <!-- <i class="fa fa-exclamation-circle" aria-hidden="true"></i> -->
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          </div>
          <h4 class=" p-3 mb-5" style="margin-top: 40px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Edit Office</h4>
        </div>
        <!-- <a class=" p-3 mb-5" style="margin-top: 50px; margin-left:20px; text-decoration: none; color: black; font-weight: bold;font-size: 20px;" [routerLink]="['/lead-information']">Lead Information</a> -->
      </div>
      <div class="col-md-2"  > 
        <div mat-raised class="card shadow textcard" (click)="leadPageAdmin()" >
          <div class="as shadow p-3 mb-5 rounded" style="border: none;" >
            <!-- <i class="fa fa-exclamation-circle" aria-hidden="true"></i> -->
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          </div>
          <h4 class=" p-3 mb-5" style="margin-top: 40px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Landing Page Admin</h4>
        </div>
        <!-- <a class=" p-3 mb-5" style="margin-top: 50px; margin-left:20px; text-decoration: none; color: black; font-weight: bold;font-size: 20px;" [routerLink]="['/lead-information']">Lead Information</a> -->
      </div>
      <div class="col-md-2"  > 
        <div mat-raised class="card shadow textcard" (click)="landingPageTracking()">
          <div class="as shadow p-3 mb-5 rounded" style="border: none;" >
            <!-- <i class="fa fa-exclamation-circle" aria-hidden="true"></i> -->
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          </div>
          <h4 class=" p-3 mb-5" style="margin-top: 40px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Landing Page Tracking</h4>
        </div>
        <!-- <a class=" p-3 mb-5" style="margin-top: 50px; margin-left:20px; text-decoration: none; color: black; font-weight: bold;font-size: 20px;" [routerLink]="['/lead-information']">Lead Information</a> -->
      </div>
</div>
<div class="row">
    <div class="col-md-2"  > 
      <div mat-raised class="card shadow textcard" >
        <div class="as shadow p-3 mb-5 rounded" style="border: none;" >
          <!-- <i class="fa fa-exclamation-circle" aria-hidden="true"></i> -->
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        </div>
        <h4 class=" p-3 mb-5" style="margin-top: 40px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >List Url</h4>
      </div>
      <!-- <a class=" p-3 mb-5" style="margin-top: 50px; margin-left:20px; text-decoration: none; color: black; font-weight: bold;font-size: 20px;" [routerLink]="['/lead-information']">Lead Information</a> -->
    </div>
    <div class="col-md-2"  > 
        <div mat-raised class="card shadow textcard" >
          <div class="as shadow p-3 mb-5 rounded" style="border: none;" >
            <!-- <i class="fa fa-exclamation-circle" aria-hidden="true"></i> -->
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          </div>
          <h4 class=" p-3 mb-5" style="margin-top: 40px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >User Level</h4>
        </div>
        <!-- <a class=" p-3 mb-5" style="margin-top: 50px; margin-left:20px; text-decoration: none; color: black; font-weight: bold;font-size: 20px;" [routerLink]="['/lead-information']">Lead Information</a> -->
      </div>
      <div class="col-md-2"  > 
        <div mat-raised class="card shadow textcard" >
          <div class="as shadow p-3 mb-5 rounded" style="border: none;" >
            <!-- <i class="fa fa-exclamation-circle" aria-hidden="true"></i> -->
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          </div>
          <h4 class=" p-3 mb-5" style="margin-top: 40px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Zoho Accounts</h4>
        </div>
        <!-- <a class=" p-3 mb-5" style="margin-top: 50px; margin-left:20px; text-decoration: none; color: black; font-weight: bold;font-size: 20px;" [routerLink]="['/lead-information']">Lead Information</a> -->
      </div>
      <div class="col-md-2"  > 
        <div mat-raised class="card shadow textcard" >
          <div class="as shadow p-3 mb-5 rounded" style="border: none;" >
            <!-- <i class="fa fa-exclamation-circle" aria-hidden="true"></i> -->
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          </div>
          <h4 class=" p-3 mb-5" style="margin-top: 40px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >UpGrade Click Adandons</h4>
        </div>
        <!-- <a class=" p-3 mb-5" style="margin-top: 50px; margin-left:20px; text-decoration: none; color: black; font-weight: bold;font-size: 20px;" [routerLink]="['/lead-information']">Lead Information</a> -->
      </div>
      <div class="col-md-2"  > 
        <div mat-raised class="card shadow textcard" >
          <div class="as shadow p-3 mb-5 rounded" style="border: none;" >
            <!-- <i class="fa fa-exclamation-circle" aria-hidden="true"></i> -->
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          </div>
          <h4 class=" p-3 mb-5" style="margin-top: 40px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Valued Partners</h4>
        </div>
        <!-- <a class=" p-3 mb-5" style="margin-top: 50px; margin-left:20px; text-decoration: none; color: black; font-weight: bold;font-size: 20px;" [routerLink]="['/lead-information']">Lead Information</a> -->
      </div>
      <div class="col-md-2"  > 
        <div mat-raised class="card shadow textcard" (click)="addVideo()">
          <div class="as shadow p-3 mb-5 rounded" style="border: none;" >
            <!-- <i class="fa fa-exclamation-circle" aria-hidden="true"></i> -->
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          </div>
          <h4 class=" p-3 mb-5" style="margin-top: 40px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Video Tracking Admin</h4>
        </div>
        <!-- <a class=" p-3 mb-5" style="margin-top: 50px; margin-left:20px; text-decoration: none; color: black; font-weight: bold;font-size: 20px;" [routerLink]="['/lead-information']">Lead Information</a> -->
      </div>
</div>
<div class="row">
    <div class="col-md-2"  > 
        <div mat-raised class="card shadow textcard" >
          <div class="as shadow p-3 mb-5 rounded" style="border: none;" >
            <!-- <i class="fa fa-exclamation-circle" aria-hidden="true"></i> -->
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
          </div>
          <h4 class=" p-3 mb-5" style="margin-top: 40px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Forums</h4>
        </div>
        <!-- <a class=" p-3 mb-5" style="margin-top: 50px; margin-left:20px; text-decoration: none; color: black; font-weight: bold;font-size: 20px;" [routerLink]="['/lead-information']">Lead Information</a> -->
      </div>
      <div class="col-md-2"  > 
          <div mat-raised class="card shadow textcard" >
            <div class="as shadow p-3 mb-5 rounded" style="border: none;" >
              <!-- <i class="fa fa-exclamation-circle" aria-hidden="true"></i> -->
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            </div>
            <h4 class=" p-3 mb-5" style="margin-top: 40px; text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >Sections</h4>
          </div>
          <!-- <a class=" p-3 mb-5" style="margin-top: 50px; margin-left:20px; text-decoration: none; color: black; font-weight: bold;font-size: 20px;" [routerLink]="['/lead-information']">Lead Information</a> -->
        </div>
</div>