<!-- <div class="page_info mb_32">
  <div class="pageinfo_bg">
    <span>FINANCE AGENTS</span>
    <h2>Agents</h2>
    <p>Know other people who would make great Finance Agents?</p>
    <ul class="breadcrumb_page mt_50">
      <li>
        <a class="breadcrumb_item active" [routerLink]="['/invite-agent']">
          <div class="crumb_bg">
            <img src="../../assets/images/akar_icons_edit.svg" />
          </div>
          <div class="crumb_text">Invite</div>
        </a>
      </li>
      <li>
        <a class="breadcrumb_item" [routerLink]="['/teaminformation']">
          <div class="crumb_bg">
            <img src="../../assets/images/info_circle.svg" />
          </div>
          <div class="crumb_text">Information</div>
        </a>
      </li>
    </ul>
    <div></div>
  </div>
</div> -->

<div class="WhiteBg plr_48 ptb_40">
  <h3 class="dash_heading pb_24">Invite Agents</h3>
  <app-invite-agents-form></app-invite-agents-form>
  <p class="mt_64 sub_paragraph_text pb_20">After you submit :</p>
  <ul class="after_you_submit">
    <li class="pb_20">An Invitation to sign up will be sent</li>
    <li>
      The recipient will need to follow the emails instructions to create their
      Agent Account
    </li>
  </ul>
</div>
