<div class="WhiteBg pt_35_pb_24 plr_16 mb_24">
	<h3 class="dash_heading mb_24">Member Office</h3>
	<div class="row">
		<div class="col-lg-6 col-md-12 mob_space_mb_24" *ngFor="let document of data">
			<div class="documents_application">
				<ul class="rightTab_bar">
					<li>
						<a (click)="editDocument(document.id)" [routerLink]="['/edittemplates']">Edit <img
								src="../../../assets/images/edit_tab.svg" /></a>
					</li>
					<li (click)="openConfirmationDialog(document.id)">
						<a class="download_bg"><img src="../../../assets/images/application_download.svg" /></a>
					</li>
				</ul>
				<div class="media" data-toggle="modal" [attr.data-target]="'#modal-preview-' + document.id">
					<img [src]="document.thumbnail" />
					<div class="media-body">
						<h5 class="mt-0"> {{ document.title }}</h5>
						<p>
							{{ document.description }}+
						</p>
					</div>
				</div>
			</div>
			<!-- Modal -->
			<div class="Video_popup">
				<div class="modal fade" [id]="'modal-preview-' + document.id" tabindex="-1" role="dialog" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-body document-preview">
								<div class="container">
									<iframe [src]="document.documentUrl" width="100%" height="100%">
									</iframe>
									<p class="centered">Finance&nbsp;Agent</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<confirm-payment [onConfirm]="confirmPayment"></confirm-payment>
<card-modal [onSubmit]="onSubmit"></card-modal>