<mat-card class="example-card" style="border-radius: 5px;">
    <div class="top-profile-information">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input type="text" class="form-control " placeholder="Search">
          </div>   
        </div>
       <div class="col-md-6 col-sm-6">
          <div class="row profile">  
            <mat-card-title-group>
              <div class="col-md-12">
                <div class="row profiledetails">
                     <div class="example-button-container">
                        <button mat-mini-fab color="white" aria-label="Example icon button with a home icon">
                          <!-- <mat-icon>notifications</mat-icon>  -->
                          <i class="fa fa-bell" aria-hidden="true"></i>
                        </button>
                        <div class="profiledetails" style="display: inline;">                        
                          <img src="assets/images/kl.jpg" class="img">
                        <div  style="display: inline;">
                          <strong class="title" > Sadique Shafi</strong>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            </mat-card-title-group>
          </div>              
        </div>
      </div>
    </div>
  </mat-card>